/*Diseño fondo*/
body {
    margin: 0; 
    display: flex;               
    flex-direction: column;      
    font-family: Arial, Helvetica, sans-serif;
    background: repeating-linear-gradient(
        90deg,
        #b2e2dd,
        #b2e2dd 50px,
        #75cac3 50px,
        #75cac3 100px
    );
    color: #333;
}
main {
    flex: 1;                    
}

/* Estilos de la barra de navegacion*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009999;
    padding: 20px;
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .logo img {
        width: 50px;
        height: 50px;
    }
    nav ul {
        flex-direction: column;
        padding: 10px 0;
    }
    nav ul li {
        margin: 10px 0;
    }
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.logo img {
    width: 75px;
    height: 75px;
}

nav {
    flex: 20;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

/* MENU DULCE PECADO*/
.MENU-H3 {
    background-color: #B2292E;          
    color: white;                   
    padding: 10px;                  
    text-align: center;             
    font-size: 1.5em;               
    margin: 20px auto;              
    width: 80%;                     
    max-width: 800px;               
    border-radius: 20px;             
}


.menu-secciones {
    display: flex;                  
    justify-content: space-around; 
    margin: 20px auto;              
    width: 90%;                     
    max-width: 800px;               
}
/* Estilo para cada sección de menú */
.menu-secciones .seccion {
    background-color: #B2292E;          
    color: white;                   
    padding: 15px;                  
    text-align: center;             
    font-size: 1.2em;               
    width: 28%;                     
    border-radius: 20px;             
    margin: 5px;                    
    text-decoration: none;          
    display: block;                 
    transition: background-color 0.3s; 
}   
.menu-secciones .seccion:hover {
    background-color: darkred;      
}





/*Estilos container bebidas*/

@media (max-width: 767px){
    .bebidas .h2-bebidas {
        width: 350px;  
        margin-left: 1130px;  
    }

    .bebidas .fila-bebidas{
        display: grid;
        grid-template-rows: auto auto; 
        gap: 1px; 
    }

    .bebidas .fila-bebidas .bebida-info {
        width: 110px;
    }

    .bebidas .fila-bebidas .bebida-info .pro-h3{
        width: 110px;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){

    .bebidas .h2-bebidas {
        width: 600px;  
        margin-left: 1005px;  
    }

    .bebidas .fila-bebidas .bebida-info {
        width: 110px;
    }

    .bebidas .fila-bebidas .bebida-info .pro-h3{
        width: 110px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1024px){

}


.bebidas {
    display: flex;                
    flex-direction: column;      
    justify-content: space-between;
    align-items: center;
    background-color: #009999;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}
.h2-bebidas {
    width: 800px;  
    margin-left: 548px;
    
    text-align: left;   
    margin-bottom: 30px;       
}

.text-bebidas {
    background-color: #B2292E;  
    color: white;                
    padding: 15px 10px;              
    border-radius: 20px;         
    display: inline-block;       
    width: 50%; 
    font-size: 2vh;    
    margin-left: -15cm;
    margin-top: -10cm;            
}

/* Título de cada bebida */
.pro-h3 {
    background-color: #B2292E;          
    color: white;                         
    display: inline-block;                
    padding: 10px 20px;                   
    border-radius: 20px;                  
    position: absolute;                   
    width: 93%;  
    height: auto;                         
    top: -25px; 
    left: 50%;                             
    transform: translateX(-50%);           
    font-size: 1.2em; 
    text-align: center;
    font-weight: bold;
}

.pro-h3-2 {
    background-color: #B2292E;          
    color: white;                         
    display: inline-block;                
    padding: 10px 20px;                   
    border-radius: 20px;                  
    position: absolute;                   
    width: 92%;   
    height: auto;                         
    top: -25px; 
    left: 50%;                             
    transform: translateX(-50%);           
    font-size: 1.2em; 
    text-align: center;
    font-weight: bold;
}
/* informacion de cada bebida*/
.bebida-info {
    background-color: #C6E4DF;  
    color: #333;                
    padding: 25px 15px;         
    border-radius: 20px;        
    margin: 10px;               
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    justify-content: center;    
    width: 45%; 
    max-width: 500px; 
    height: 300px;              
    position: relative;         
    text-align: center;         
}
.bebida-info-2 {
    background-color: #C6E4DF;  
    color: #333;                
    padding: 25px 15px;         
    border-radius: 20px;        
    margin: 10px;               
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    justify-content: center;    
    width: 25%; 
    max-width: 500px; 
    height: 180px;              
    position: relative;         
    text-align: center;         
}

/* Texto de cada bebida */
.text-p {
    font-size: 1rem;                     
    color: #2DA9A2;                       
    margin: 5px;                        
    font-weight: bold;                    
    text-align: left;    
    width: 100%;         
}

/* Precio de la bebida */
.text-price {
    font-size: 1.5rem;                    
    color: #2DA9A2;                       
    margin: 10px 0;                       
    font-weight: bold;                    
    text-align: center;   
    width: 100%;          
}
.fila-bebidas {
    display: flex;              
    justify-content: space-around;  
    width: 100%;              
    max-width: 100%;           
    margin: 10px;          
}

.img-container-drink {
    position: relative;
    text-align: center;
}

.img-drink {
    display: block;
    margin: 0 auto;
    width: 130%; 
    height: auto;
    margin-top: -50px;  
}


footer {
    text-align: center;         
    padding: 20px;             
    color: #000000;            
    font-size: 18px;

    font-weight: bold;         
}