/*Diseño fondo*/
body {
    margin: 0; 
    display: flex;               
    flex-direction: column;      
    font-family: Arial, Helvetica, sans-serif;
    background: repeating-linear-gradient(
        90deg,
        #b2e2dd,
        #b2e2dd 50px,
        #75cac3 50px,
        #75cac3 100px
    );
    color: #333;
}
main {
    flex: 1;                    
}

/* Estilos de la barra de navegacion*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009999;
    padding: 20px;
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .logo img {
        width: 50px;
        height: 50px;
    }
    nav ul {
        flex-direction: column;
        padding: 10px 0;
    }
    nav ul li {
        margin: 10px 0;
    }
    
    .banner {
        flex-direction: column;
        text-align: center;
        width: 295px;
        height: 480px;  
    }

    .banner .banner-texto {
        font-size: 34px;
        margin: 0;
        text-align: center;
    }
    
    .banner-imagen img {
        width: 150px;
        height: 200px;
        margin-right: 350px;
    }
}



@media (min-width: 768px) and (max-width: 1024px){
    .banner {
        flex-direction: column;
        text-align: center;
        width: 670px;
        height: 480px;  
    }

    .banner .banner-texto {
        font-size: 34px;
        margin: 0;
        text-align: center;
    }
    
    .banner-imagen img {
        width: 150px;
        height: 200px;
        margin-right: 350px;
    }
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.logo img {
    width: 75px;
    height: 75px;
}

nav {
    flex: 20;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    text-align: center;
}


/* Estilos del banner de fresas con crema */
.banner {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #009999;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

.banner-texto {
    flex: 1;
    color: white;
    font-size: 34px;
    text-align: left;
    font-family: Garamond;
    margin-right: 5cm;
}

.banner-imagen {
    flex: 1;
    display: flex;

}

.banner-imagen img {
    width: 200px; 
    margin-left: 10cm;
}
.container-pro{
    background-color: #009999;
    border-radius: 20px;
}
/* Estilos de la seccion de promociones */
.promociones {
    display: flex;                
    flex-direction: column;      
    justify-content: space-between;
    align-items: center;
    background-color: #009999;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    
}
.container-h2 {
    width: 100%;                 
    max-width: 20cm;            
    margin: 0 auto;             
    text-align: center;   
    margin-bottom: 30px;       
}

.text {
    background-color: #b40000;  
    color: white;                
    padding: 15px 10px;              
    border-radius: 20px;         
    display: inline-block;       
    width: 100%; 
    font-size: 2vh;                
}

.pro-h3 {
    background-color: #b40000;            
    color: white;                         
    display: inline-block;               
    padding: 10px 20px;                   
    border-radius: 20px 20px 20px 20px;                  
    position: absolute;  

    width: 350px; 
  

    height: 25px;               
    top: -38px;                           
    left: 50%;                            
    transform: translateX(-50%);          
    font-size: 2vh;                     
}
.promocion {
    background-color: #C6E4DF;  
    color: #333;                
    padding: 20px;             
    border-radius: 20px;        
    margin: 10px;               
    display: inline-block;    

    width: 350px;   
    
    height: 200px;            
    position: relative;         
    text-align: center; 
    margin-bottom: 50px;    
}

@media (max-width: 767px) {
    .promocion {
        width: 270px;
    }

    .pro-h3 {
        width: 270px;
    }

    .container-pro .container-h2 .text{
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .promocion {
        width: 470px;
        margin-left: 100px;
        height: 190px;
    }

    .pro-h3 {
        width: 470px;
    }

    .container-pro .container-h2 .text{
        width: 550px;
    }
}

.text-p {
    font-size: 1.5rem;                     
    color: #2DA9A2;                       
    margin: 5px 0;                        
    font-weight: bold;                      
    text-align: center;
    align-items: center;
    justify-content: center;                     
    margin-top: 1.5cm;
}
/* Estilos Footer */
footer {
    text-align: center;         
    padding: 20px;             
    color: #000000;            
    font-size: 18px;

    font-weight: bold;         
}