/*Diseño fondo*/
body {
    margin: 0; 
    display: flex;               
    flex-direction: column;      
    font-family: Arial, Helvetica, sans-serif;
    background: repeating-linear-gradient(
        90deg,
        #b2e2dd,
        #b2e2dd 50px,
        #75cac3 50px,
        #75cac3 100px
    );
    color: #333;
}
main {
    flex: 1;                    
}

/* Estilos de la barra de navegacion*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009999;
    padding: 20px;
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .logo img {
        width: 50px;
        height: 50px;
    }
    nav ul {
        flex-direction: column;
        padding: 10px 0;
    }
    nav ul li {
        margin: 10px 0;
    }
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.logo img {
    width: 75px;
    height: 75px;
}

nav {
    flex: 20;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

/* MENU DULCE PECADO*/
.MENU-H3 {
    background-color: #B2292E;          
    color: white;                   
    padding: 10px;                  
    text-align: center;             
    font-size: 1.5em;               
    margin: 20px auto;              
    width: 80%;                     
    max-width: 800px;               
    border-radius: 20px;             
}


.menu-secciones {
    display: flex;                  
    justify-content: space-around; 
    margin: 20px auto;              
    width: 90%;                     
    max-width: 800px;               
}
/* Estilo para cada sección de menú */
.menu-secciones .seccion {
    background-color: #B2292E;          
    color: white;                   
    padding: 15px;                  
    text-align: center;             
    font-size: 1.2em;               
    width: 28%;                     
    border-radius: 20px;             
    margin: 5px;                    
    text-decoration: none;          
    display: block;                 
    transition: background-color 0.3s; 
}   
.menu-secciones .seccion:hover {
    background-color: darkred;      
}


/*Estilos de la seccion de crepas premium*/


.crep-pre {
    display: flex;                
    flex-direction: column;      
    justify-content: space-between;
    align-items: center;
    background-color: #009999;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}
.h2-crepas-premium {
    width: 100%;                 
    max-width: 25cm;            
    margin: 0 auto;             
    margin-left: 555px;  
    margin-bottom: 30px;       
}

.text {
    background-color: #B2292E;  
    color: white;                
    padding: 15px 10px;              
    border-radius: 20px;         
    display: inline-block;       
    width: 50%; 
    font-size: 2vh;    

}

@media (max-width: 767px){

    .price {
        margin-top: 150px;
        margin-right: 500px;
        margin-bottom: 10px;
    }
    
    .price-info .extra-price {    
        font-size: 1.5rem;
        margin-top: 10px;
        margin-right: 500px;
        margin-bottom: 0px;
    }

    .img-container .img-crep{
        margin-top: -30px;
        margin-bottom: 50px;
        margin-left: -15px;
    }

    .fila-crepas-premium{
        flex-direction: column;
    }

    .fila-crepas-premium .premium-info{
        margin-left:18px;
        width: 250px;
        margin-top: 70px;
    }
    
    .fila-crepas-premium .premium-info .pro-h3{
        width: 250px;
    }

    .fila-crepas-premium .premium-info .img-small-gansito{
        width: 112px;
        margin-right:50px;
        margin-bottom:-10px;
    }

    .fila-crepas-premium .premium-info .img-small-ferrero{
        width: 100px;
        margin-right:10px;
        margin-bottom:-10px;
    }

    .fila-crepas-premium .premium-info .img-small-kinder{
        width: 112px;
        margin-right:20px;
        margin-bottom:-10px;
    }

    .fila-crepas-premium .premium-info .img-small-chocorrol{
        width: 80px;
        margin-right:20px;
        margin-bottom:0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){

    .img-container .img-crep{
        text-align: center;
        width: 200px;

        margin-top: 10px;
        margin-left: -280px;
    }


    .price {
        margin-top: 80px;
        margin-right: 220px;
        margin-bottom: 10px;
    }
    
    .price-info .extra-price {    
        font-size: 1.5rem;
        margin-right: 200px;
        
    }


    .fila-crepas-premium .premium-info{
        margin-left:18px;
        width: 250px;
        margin-top: 70px;
    }
    
    .fila-crepas-premium .premium-info .pro-h3{
        width: 250px;
        margin-top: 0px;
    }

    .fila-crepas-premium .premium-info .img-small-gansito{
        width: 112px;
        margin-right:50px;
        margin-bottom:-10px;
    }

    .fila-crepas-premium .premium-info .img-small-ferrero{
        width: 100px;
        margin-right:10px;
        margin-bottom:-10px;
    }

    .fila-crepas-premium .premium-info .img-small-kinder{
        width: 112px;
        margin-right:20px;
        margin-bottom:-10px;
    }

    .fila-crepas-premium .premium-info .img-small-chocorrol{
        width: 80px;
        margin-right:20px;
        margin-bottom:0px;
    }
}

@media (min-width: 1025px){

    .img-container .img-crep{
        margin-top: -30px;
        margin-bottom: -10px;
        margin-left: -15px;
    }

    .fila-crepas-premium .premium-info{
        margin-left:18px;
        width: 250px;
        margin-top: 70px;
    }
    
    .fila-crepas-premium .premium-info .pro-h3{
        width: 250px;
        margin-top: 5px;
    }

    .fila-crepas-premium .premium-info .img-small-gansito{
        width: 112px;
        margin-right:40px;
        margin-bottom:15px;
    }

    .fila-crepas-premium .premium-info .img-small-ferrero{
        width: 100px;
        margin-right: 5px;
        margin-bottom:-5px;
    }

    .fila-crepas-premium .premium-info .img-small-kinder{
        width: 112px;
        margin-right:20px;
        margin-bottom:-0px;
    }

    .fila-crepas-premium .premium-info .img-small-chocorrol{
        width: 70px;
        margin-right:20px;
        margin-bottom:0px;
    }
}


/* Título de cada crepa */
.pro-h3 {
    background-color: #B2292E;          
    color: white;                         
    display: inline-block;                
    padding: 10px 20px;                   
    border-radius: 20px;                  
    position: absolute;    

    width: 200px;  
    

    height: auto;                         
    top: -25px; 
    left: 50%;                             
    transform: translateX(-50%);           
    font-size: 1.2em; 
    text-align: center;
    font-weight: bold;
}

/* informacion de cada crepa*/
.premium-info {
    background-color: #C6E4DF;  
    color: #333;                
    padding: 25px 15px;         
    border-radius: 20px;        
    margin: 10px;               
    display: flex;              
    flex-direction: column;     
    
    justify-content: center;   

    margin-left:1px;
    width: 250px;

    
    height: 160px;              
    position: relative;         
    text-align: center;         
}


/* Texto de cada crepa */
.text-p {
    font-size: 1rem;                     
    color: #2DA9A2;                       
    margin: 5px;                        
    font-weight: bold;                    
    text-align: left;    
    width: 100%;  
           
    
}

.fila-crepas-premium {
    display: flex;              
    justify-content: space-around;  
    width: 100%;              
    max-width: 100%;           
    margin: 10px;          
}

/* Estilo para la imagen principal */
.img-container {
    position: relative;
    text-align: center;
}

.img-crep {
    display: block;
    margin: 0 auto;
    width: 120%; 
    height: auto;
    margin-top: -40px;  
}

/* Contenedor de los precios */
.price-info {
    position: absolute;
    top: 10px;
    right: -500px;
    top: -2cm;
    padding: 10px;
    border-radius: 10px;
    text-align: center;

    margin-left: 1200px;
    }

    .price {
        font-size: 3rem;
        color: white;
        font-weight: bold;
        right: -500px;
        margin-bottom: 10px;
    }
    
    .extra-price {    
        color: white;
        font-weight: normal;
        margin: 0;

        font-size: 1.5rem;
        right: -500px;
        margin-bottom: 10px;
    }



/* Estilos para las crepas premium */
.fila-crepas-premium {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.premium-info {
    width: 22%; 
    margin: 10px;
    padding: 20px;
    background-color: #C6E4DF;
    border-radius: 20px;
    position: relative;
    text-align: center;
}


.img-small-gansito {
    position: absolute;
    bottom: -50px;
    right: -2cm;
    width: 40%;
    height: auto;
}

.img-small-ferrero {
    position: absolute;
    bottom: -20px;
    right: -25px;
    width: 30%; 
    height: auto;
}
.img-small-kinder {
    position: absolute;
    bottom: -20px;
    right: -35px;
    width: 40%; 
    height: auto;
}

.img-small-chocorrol {
    position: absolute;
    bottom: -30px;
    right: -40px;
    width: 28%; 
    height: auto;
}

/*Estilos seccion crepizza*/

@media (max-width: 767px){

    .price-info-crepizza {
        margin-top: 130px;
        margin-right: 350px;
        margin-bottom: 103px;
    }
    
    .price-info-crepizza .extra-price-crepizza {    
        font-size: 1.5rem;
        margin-bottom: 103px;
        margin-right: 340px;
        
    }

    .img-container .img-crep{
        margin-top: -30px;
        margin-bottom: 100px;
        margin-left: -15px;
    }


    .img-container .img-crepizza{
        text-align: center;
        width: 250px;
        margin-bottom: 100px;
    }

    .fila-crepizza{
        flex-direction: column;
    }

    .fila-crepizza .crepizza-info{
        margin-left:18px;
        width: 250px;
        margin-top: 70px;
    }
    
    .fila-crepizza .crepizza-info .pro-h3{
        width: 250px;
    }

}

@media (min-width: 768px) and (max-width: 1024px){

    .img-container .img-crepizza{
        text-align: center;
        width: 250px;
        margin-left: -280px;
    }

    .fila-crepizza .crepizza-info{
        margin-left:18px;
        width: 200px;
        margin-top: 70px;
    }
    
    .fila-crepizza .crepizza-info .pro-h3{
        width: 170px;
    }

    .price-info-crepizza {
        position: absolute;
        top: 10px;
        right: -18cm;
        top: -2cm;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        }
    
        .price-crepizza {
            font-size: 2rem;
            color: white;
            font-weight: bold;
          
    
            margin-right: 350px;
        }
        
        .extra-price-crepizza {
            font-size: 1rem;
            color: white;
            font-weight: normal;
            margin: 0;
    
            font-size: 1.5rem;
            margin-right: -150px;
            margin-bottom: 10px;
        }

}

@media (min-width: 1025px){

    .img-container .img-crepizza{
        text-align: center;
        width: 300px;
    }

    .fila-crepizza .crepizza-info{
        margin-left:18px;
        width: 300px;
        margin-top: 70px;
    }
    
    .fila-crepizza .crepizza-info .pro-h3{
        width: 300px;
    }

}

.crepizza {
    display: flex;                
    flex-direction: column;      
    justify-content: space-between;
    align-items: center;
    background-color: #009999;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}
.h2-crepizza {
    width: 100%;                 
    max-width: 25cm;            
    margin: 0 auto;             
    margin-left: 555px;  
    margin-bottom: 30px;  
    
    
}

.text {
    background-color: #B2292E;  
    color: white;                
    padding: 15px 10px;              
    border-radius: 20px;         
    display: inline-block;       
    width: 50%; 
    font-size: 2vh;    
    margin-left: -15.1cm;
    margin-top: -10cm;            
}

/* informacion de cada crepa*/
.crepizza-info {
    background-color: #C6E4DF;  
    color: #333;                
    padding: 30px 15px;         
    border-radius: 20px;        
    margin: 10px;               
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    justify-content: center;    
    width: 20%; 
    max-width: 350px; 
    height: 160px;              
    position: relative;         
    text-align: center;         
}


/* Texto de cada crepa */
.text-p {
    font-size: 1rem;                     
    color: #2DA9A2;                       
    margin: 5px;                        
    font-weight: bold;                    
    text-align: left;    
    width: 100%;         
}

.fila-crepizza {
    display: flex;              
    justify-content: space-around;  
    width: 100%;              
    max-width: 100%;           
    margin: 10px;          
}


.img-crepizza {
    display: block;
    margin: 0 auto;
    width: 50%; 
    height: auto;
    margin-top: -40px;  
}
/* Contenedor de los precios de crepizza */
.price-info-crepizza {
    position: absolute;
    top: 10px;
    right: -18cm;
    top: -2cm;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    }

    .price-crepizza {
        font-size: 3rem;
        color: white;
        font-weight: bold;
      

        margin-right: 350px;
    }
    
    .extra-price-crepizza {
        font-size: 2rem;
        color: white;
        font-weight: normal;
        margin: 0;

        font-size: 1.5rem;
        margin-right: 350px;
        margin-bottom: 10px;
    }


.fila-crepizza {
    display: flex;              
    justify-content: space-around;  
    width: 100%;              
    max-width: 100%;           
    margin: 10px;          
}


.img-crepizza {
    display: block;
    margin: 0 auto;
    width: 50%; 
    height: auto;
    margin-top: -40px;  
}


/* estilos seccion de crepas tradicionles */


@media (max-width: 767px){

    .price-info-tra .price-tra {
        margin-top: 150px;
        margin-right: 850px;
        margin-bottom: 10px;
    }
    
    .price-info-tra .extra-price-tra {    
        font-size: 1.5rem;
        margin-top: 10px;
        margin-right: 850px;
        margin-bottom: 0px;
        
    }

    .img-container .img-trad{
        margin-top: -30px;
        margin-bottom: 100px;
        margin-left: -15px;
    }

    .fila-crepas-tradicionales{
        flex-direction: column;
    }

    .fila-crepas-tradicionales .tradicionales-info{
        margin-left:18px;
        width: 250px;
        margin-top: 70px;
    }
    
    .fila-crepas-tradicionales .tradicionales-info .pro-h3{
        width: 250px;
    }

    .fila-crepas-premium .premium-info .img-small-gansito{
        width: 112px;
        margin-right:50px;
        margin-bottom:-10px;
    }

    .fila-crepas-premium .premium-info .img-small-ferrero{
        width: 100px;
        margin-right:10px;
        margin-bottom:-10px;
    }

    .fila-crepas-premium .premium-info .img-small-kinder{
        width: 112px;
        margin-right:20px;
        margin-bottom:-10px;
    }

    .fila-crepas-premium .premium-info .img-small-chocorrol{
        width: 80px;
        margin-right:20px;
        margin-bottom:0px;
    }
}


@media (min-width: 768px) and (max-width: 1024px){

    .price-info-tra .price-tra {
        margin-top: 40px;
        margin-right: 800px;
        margin-bottom: 10px;
    }
    
    .price-info-tra .extra-price-tra {    
        font-size: 1.5rem;
        margin-top: 10px;
        margin-right: 800px;
        margin-bottom: 0px;
        
    }

    .img-container .img-trad{
        margin-top: -30px;
        margin-bottom: 10px;
        margin-right: 250px;
        width: 200px;
    }


    .fila-crepas-tradicionales .tradicionales-info{
        margin-left:18px;
        width: 200px;
        margin-top: 70px;
        height: 200px;
    }
    
    .fila-crepas-tradicionales .tradicionales-info .pro-h3{
        width: 110px;
    }

    .fila-crepas-tradicionales .tradicionales-info .img-small-dulce{
        width: 60px;
        margin-right:20px;
        margin-bottom:25px;
    }

    .fila-crepas-tradicionales .tradicionales-info .img-small-monkey{
        width: 85px;
        margin-right:40px;
        margin-bottom:15px;
    }

    .fila-crepas-tradicionales .tradicionales-info .img-small-rosita{
        width: 55px;
        margin-right:10px;
        margin-bottom:10px;
    }

    .fila-crepas-tradicionales .tradicionales-info .img-small-oreo{
        width: 80px;
        margin-right:20px;
        margin-bottom:25px;
    }
}

@media (min-width: 1024px){

    .price-info-tra .price-tra {
        margin-top: 40px;
        margin-right: 350px;
        margin-bottom: 10px;
    }
    
    .price-info-tra .extra-price-tra {    
        font-size: 1.5rem;
        margin-top: 10px;
        margin-right: 350px;
        margin-bottom: 0px;
        
    }

    .img-container .img-trad{
        margin-top: -30px;
        margin-bottom: 10px;
        margin-left: -15px;
    }


    .fila-crepas-tradicionales .tradicionales-info{
        margin-left:18px;
        width: 250px;
        margin-top: 70px;
        height: 150px;
    }
    
    .fila-crepas-tradicionales .tradicionales-info .pro-h3{
        width: 250px;
    }

    .fila-crepas-tradicionales .tradicionales-info .img-small-dulce{
        width: 60px;
        margin-right:20px;
        margin-bottom:25px;
    }

    .fila-crepas-tradicionales .tradicionales-info .img-small-monkey{
        width: 85px;
        margin-right:40px;
        margin-bottom:15px;
    }

    .fila-crepas-tradicionales .tradicionales-info .img-small-rosita{
        width: 55px;
        margin-right:10px;
        margin-bottom:10px;
    }

    .fila-crepas-tradicionales .tradicionales-info .img-small-oreo{
        width: 80px;
        margin-right:20px;
        margin-bottom:25px;
    }
}


.tradicionales {
    display: flex;                
    flex-direction: column;      
    justify-content: space-between;
    align-items: center;
    background-color: #009999;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}
.h2-crepas-tra {
    width: 100%;                 
    max-width: 25cm;            
    margin: 0 auto;             
    text-align: left;   
    margin-bottom: 30px;  
    
    margin-left: 555px;  
    margin-bottom: 30px;  
}

.price-info-tra {
    position: absolute;
    top: 10px;
    right: -23cm;
    top: -2cm;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    }

    .price-tra {
        font-size: 3rem;
        color: white;
        font-weight: bold;
        margin: 0;
    }
    
    .extra-price-tra {
        font-size: 2rem;
        color: white;
        font-weight: normal;
        margin: 0;
    }
    
    .tradicionales-info {
        background-color: #C6E4DF;  
        color: #333;                
        padding: 30px 15px;         
        border-radius: 20px;        
        margin: 10px;               
        display: flex;              
        flex-direction: column;     
        align-items: center;        
        justify-content: center;    
        width: 20%; 
        max-width: 350px; 
        height: 160px;              
        position: relative;         
        text-align: center;         
    }
    .fila-crepas-tradicionales {
    display: flex;              
    justify-content: space-around;  
    width: 100%;              
    max-width: 100%;           
    margin: 10px;          
    }


    .img-trad {
    display: block;
    margin: 0 auto;
    width: 100%; 
    height: auto;
    margin-top: -40px;  
    }

    .img-small-dulce {
        position: absolute;
        bottom: -50px;
        right: -1cm;
        width: 30%;
        height: auto;
    }
    
    .img-small-monkey {
        position: absolute;
        bottom: -40px;
        right: -60px;
        width: 40%; 
        height: auto;
    }
    .img-small-rosita {
        position: absolute;
        bottom: -1cm;
        right: -35px;
        width: 30%; 
        height: auto;
    }
    
    .img-small-oreo {
        position: absolute;
        bottom: -50px;
        right: -40px;
        width: 35%; 
        height: auto;
    }